* {
    margin: 0;
    padding: 0;
}

body {
        background: linear-gradient(to right, #697565, #434b41);
    
    animation: multicolor 10s infinite forwards;
}


@media (min-width: 701px) {
    
    .nav{
        height: 7%;
        background-color: #181c14d7;
        position: fixed;
        display: block;
        width: 100%;
        z-index: 5;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo {
        display: inline-block;
        width: 120px;
        height: 10vh;
        background-image: url(log.png);
        background-size: 100% 100%;
    }
    .social {
        margin: auto;
        display: inline-block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .social a{
        
        padding: 30px 30px 0 0;
    }
    .social i {
        font-size: 1.5vw; /* Adjust the size as needed */
        color: #ECDFCC;
      }
    .social:hover {
        transform: scale(1.05);
    }

    .social a:hover {
        transform: scale(1.5);
        padding: 0 1vw;
        color: aqua;
    }

    .main {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, #181C14, #040503);
        /* background-color: #181C14; */
        clip-path: polygon(0 10vh, 70vw 0, 80vw 5vh, 100vw 0, 100vw 90vh, 30vw 100vh, 20vw 95vh, 0 100vh, 0 0);
        display: flex;
        flex-flow: wrap;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .intro {
        width: 44vw;
        color: white;
        margin-top: 40vh;
        display: inline-block;
        animation-name: first1;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-in;

    }

    .in {
        font-size: 2vw;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(8, end) 1 forwards;
        animation-delay: 0.2s;
    }

    .n {
        font-size: 2.5vw;
        color: #ECDFCC;
        white-space: nowrap;
        overflow: hidden;
        animation: typing1 2s steps(16, end) 1 forwards;
    }

    .ty {
        font-size: 2.2vw;
        color: rgb(255, 255, 255);
    }

    .im {
        float: right;
        background-image: url(aditya.png);
        background-position: 50% 40%;
        background-size: cover;
        background-repeat: no-repeat; 
        background-color: #ECDFCC;
        margin-top: 25vh;
        margin-left: 5vw;
        /* display: inline-block; */
        width: 40vh;
        height: 40vh;
        border-top-right-radius: 4000px;
        border-top-left-radius: 9000px;
        border-bottom-left-radius: 4000px;
        border-bottom-right-radius: 7000px;
        box-shadow: 0px 0px 50px 10px #ECDFCC, inset 0px 0px 50px 0px #ECDFCC;

        animation-name: first;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
    }

    .abtsec{

        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        justify-content: space-around;
        padding: 5px;
        color: #ECDFCC;
    }
    
    .abt {
        width: 50%;
        font-size: 1.8vw;
    }

    .abot {
        color: #181C14;
        padding: 2vw 2vh;
        border-radius: 5px;
        font-family: 'Futura';
    }


    .postcard{
        width: 20%;
        background-color: #181c14b7;
        border-radius: 10px;
    }
    
    .postim{
        margin-top: 2%;
        height: 60%;
        background-image: url(adi2.png);
        background-position: 10% 10%;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .pinfo{
        padding-top: 20%;
        display: flex;
        width: 40%;
        margin: auto;
        font-size: 1vw;
    }
    .loc{
        display: inline-block;
    }
    .postloc{
        display: inline-block;
    }
    .pinfo2{
        padding-top: 2%;
        display: flex;
        width: 60%;
        margin: auto;
        font-size: 1vw;
    }
    .edu{
        display: inline-block;
    }
    .postadd{
        display: inline-block;
    }

    .cv{
        font-size: 1vw;
        padding-top: 5%;
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .btn {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid #ECDFCC;
        color: #ECDFCC;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-radius: 5px;
    }

    .btn:hover {
        transform: scale(1.05);
        color: #ECDFCC;
        transition: 0 ease-in-out;
    }

    .btn a:link {
        text-decoration: none;
        color: #ECDFCC;
    }

    .btn a:visited {
        text-decoration: none;
    }

    .btn a:hover {
        text-decoration: none;
    }

    .btn a:active {
        text-decoration: none;
    }

    .qli {
        width: 100%;
        /* background-color: #3C3D37; */
        background: linear-gradient(to right, #3C3D37, #21211e);
    }

    .lis {
        background-color: rgba(82, 130, 130, 0);
        width: 90%;
        margin: auto;

        text-align: center;
        justify-content: center;
    }

    .lishead {
        padding-top: 5vh;
        margin-bottom: 2vh;
        color: #697565;
        font-size: 2vw;
    }
    .prog{
        padding-top: 1vw;
        font-size: 5vw;
    }
    .cpp{
        display: inline-block;
    }
    .java{
        display: inline-block;
    }
    .html{
        display: inline-block;
    }
    .css{
        display: inline-block;
    }
    .js{
        display: inline-block;
    }
    .sql{
        display: inline-block;
    }
    .ghub{
        display: inline-block;
        color: #ECDFCC;
    }
    .listext {
        display: flex;
        width: 50%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        margin: auto;
        text-decoration: none;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }


    .listext a {
        margin-right: 5%;
        font-size: 2vw;
    }

    .listext a:link {
        text-decoration: none;
        color: wheat;

    }

    .listext a:visited {
        text-decoration: none;
        color: wheat;

    }

    .listext a:hover {
        text-decoration: none;
        color: wheat;

    }

    .listext a:active {
        text-decoration: none;
        color: wheat;

    }

    .cf:hover {
        background-color: rgba(255, 255, 255, 0.311);
    }

    .cc:hover {
        background-color: rgba(255, 255, 255, 0.311);

    }

    .lc:hover {
        background-color: rgba(255, 255, 255, 0.311);
    }

    .contact {
        padding-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vw;
    }

    .contact h1 {
        font-family: 'Poppins', sans-serif;
        color: #181C14;
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 10vh;
        font-size: 3vw;
    }

    .contact-details {
        background-color: #3C3D37;
        text-align: center;
        justify-content: center;
        width: 70%;
        margin: auto;
        margin-top: 10vh;
        padding: 2%;
    }

    input {
        color: rgb(231, 231, 231);
        text-align: center;
        width: 70%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ECDFCC;
        font-size: 1.5vw;
    }
    input:focus {
        outline: none;
    }

    ::placeholder {
        color: #ECDFCC;
        opacity: 0.5;
        font-size: 1vw;
    }

    .submit {
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 50%;
        margin: 5vh auto;
        padding: 0;
        background: transparent;
        border: 3px solid wheat;
        border-radius: 5px;
        color: wheat;
        font-size: 1.5vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        cursor: pointer;
    }

    .submit:hover {
        background: #ECDFCC;
        font-weight: bolder;
        color: #181C14;
        border: 3px solid rgb(0, 20, 56);
    }

    .foo {
        color: wheat;
        background: linear-gradient(to right, #0f130a, #181C14);
        /* background-color: #181C14; */
        /* justify-content: center; */
        padding: 8vh 4vw;
    }

    .foo h1 {
        color: white;
    }

    .foo a {
        color: wheat;
        padding: 1vw 1vh;

    }

    .infologo {
        display: inline-block;
    }

    .infonumb {
        display: inline-block;
        margin-bottom: 3vh;
    }

    .infomail {
        display: inline-block;
    }

    .infomai {
        display: inline-block;
    }

    .he {
        width: 60%;
        /* text-align: center; */
        /* margin: auto; */
        margin-bottom: 3vh;
    }

    .info {
        padding: 1vw 1vh;
        /* width: 60%; */
        /* text-align: center; */
        margin: auto;
    }

    .info p {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .info a i:hover {
        transform: scale(1.2);
    }



    @keyframes first1 {
        from {
            opacity: 20%;
        }
    }

    @keyframes first {
        from {
            opacity: 0;
            transform: scale(0.5);
            /* transform: rotate(0deg); */
        }

        35% {
            /* transform: rotate(35deg); */
        }

        75% {
            transform: scale(1.1);
            /* transform: rotate(-35deg); */
        }

        to {
            /* transform: rotate(0deg); */
        }
    }

    @keyframes typing {
        from {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes typing1 {
        from {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}

@media (max-width:700px) {
    .nav{
        height: 10%;
        background-color: #181c14d7;
        position: fixed;
        display: block;
        width: 100%;
        z-index: 5;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo {
        display: inline-block;
        width: 120px;
        height: 10vh;
        background-image: url(log.png);
        background-size: 100% 100%;
    }
    .social a{
        
        padding: 30px 30px 0 0;
    }
    .social i {
        font-size: 1.5vw; /* Adjust the size as needed */
        color: #ECDFCC;
      }
    .social:hover {
        transform: scale(1.05);
    }

    .social a:hover {
        transform: scale(1.5);
        padding: 0 1vw;
        color: aqua;
    }

    .main {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to right, #0f130a, #181C14);
        
        clip-path: polygon(0 10vh, 70vw 0, 80vw 5vh, 100vw 0, 100vw 90vh, 30vw 100vh, 20vw 95vh, 0 100vh, 0 0);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

    }

    .intro {
        color: white;
        /* display: inline-block; */
        animation-name: first1;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
    }

    .in {
        font-size: 2.2vh;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(8, end) 1 forwards;
        animation-delay: 0.2s;
    }

    .n {
        font-size: 2vh;
        color: #ECDFCC;
        
        white-space: nowrap;
        overflow: hidden;
        animation: typing1 2s steps(16, end) 1 forwards;
    }

    .ty {
        font-size: 2.2vh;
        color: rgb(255, 255, 255);
    }

    .im {
        float: right;
        background-image: url(aditya.png);
        background-position: 50% 40%;
        background-size: cover;
        background-repeat: no-repeat; 
        background-color: #ECDFCC;
        margin-top: 10vh;
        width: 30vh;
        height: 30vh;
        border-top-right-radius: 4000px;
        border-top-left-radius: 9000px;
        border-bottom-left-radius: 4000px;
        border-bottom-right-radius: 7000px;
        box-shadow: 0px 0px 50px 10px #ECDFCC, inset 0px 0px 50px 0px #ECDFCC;
        

        animation-name: first;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
    }
    .abtsec{
        margin-top: 5%;
        margin-bottom: 5%;
        justify-content: center;
        padding: 5px;
        color: #ECDFCC;
    }

    .abt {
        width: 100%;
        font-size: 5vw;
    }

    .abot {
        color: #181C14;
        padding: 2vw 2vh;
        border-radius: 5px;
        font-family: 'Futura';
    }
    
    .postcard{
        background-color: #181c14b7;
        border-radius: 10px;
        width: 60%;
        margin: auto;
        height: 60vh;
    }
    
    .postim{
        margin-top: 2%;
        height: 60%;
        background-image: url(adi2.png);
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .pinfo{
        padding-top: 20%;
        display: flex;
        width: 40%;
        margin: auto;
        font-size: 3vw;
    }
    .loc{
        display: inline-block;
    }
    .postloc{
        display: inline-block;
    }
    .pinfo2{
        padding-top: 7%;
        display: flex;
        width: 60%;
        margin: auto;
        font-size: 3vw;
    }
    .edu{
        display: inline-block;
    }
    .postadd{
        display: inline-block;
    }

    .cv{
        font-size: 5vw;
        padding-top: 7%;
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .btn {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid #ECDFCC;
        color: #ECDFCC;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-radius: 5px;
    }

    .btn:hover {
        transform: scale(1.05);
        color: #ECDFCC;
        transition: 0 ease-in-out;
    }

    .btn a:link {
        text-decoration: none;
        color: #ECDFCC;
    }

    .btn a:visited {
        text-decoration: none;
    }

    .btn a:hover {
        text-decoration: none;
    }

    .btn a:active {
        text-decoration: none;
    }

    .qli {
        width: 100%;
        background: linear-gradient(to right, #3C3D37, #21211e);
    }

    .lis {
        background-color: rgba(82, 130, 130, 0);
        width: 90%;
        margin: auto;

        text-align: center;
        justify-content: center;
    }

    .lishead {
        padding-top: 5vh;
        margin-bottom: 2vh;
        color: #697565;
        font-size: 10vw;
    }
    .prog{
        padding-top: 1vw;
        font-size: 20vw;
    }
    .cpp{
        display: inline-block;
    }
    .java{
        display: inline-block;
    }
    .html{
        display: inline-block;
    }
    .css{
        display: inline-block;
    }
    .js{
        display: inline-block;
    }
    .sql{
        display: inline-block;
    }
    .ghub{
        display: inline-block;
        color: #ECDFCC;
    }

    .listext {
        display: flex;
        width: 50%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        margin: auto;
        text-decoration: none;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        font-size: 10vw;
    }

    .listext a {
        margin-right: 5%;
    }

    .listext a:link {
        text-decoration: none;
        color: wheat;


    }

    .listext a:visited {
        text-decoration: none;
        color: wheat;

    }

    .listext a:hover {
        text-decoration: none;
        color: wheat;


    }

    .listext a:active {
        text-decoration: none;
        color: wheat;


    }

    .cf:hover {
        background-color: rgba(255, 255, 255, 0.311);
    }

    .cc:hover {
        background-color: rgba(255, 255, 255, 0.311);

    }

    .lc:hover {
        background-color: rgba(255, 255, 255, 0.311);
    }
    .contact {
        padding-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25vw;
    }

    .contact h1 {
        font-family: 'Poppins', sans-serif;
        color: #181C14;
        width: 80%;
        text-align: center;
        margin: auto;
        margin-top: 10vh;
        font-size: 10vw;
    }

    .contact-details {
        background-color: #3C3D37;
        text-align: center;
        justify-content: center;
        width: 70%;
        margin: auto;
        margin-top: 10vh;
        padding: 2%;
    }

    input {
        color: rgb(231, 231, 231);
        text-align: center;
        width: 70%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ECDFCC;
        font-size: 10vw;
    }
    input:focus {
        outline: none;
    }

    ::placeholder {
        color: #ECDFCC;
        opacity: 0.5;
        font-size: 5vw;
    }

    .submit {
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 50%;
        margin: 5vh auto;
        padding: 0;
        background: transparent;
        border: 3px solid wheat;
        border-radius: 5px;
        color: wheat;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        cursor: pointer;
    }

    .submit:hover {
        background: #ECDFCC;
        font-weight: bolder;
        color: #181C14;
        border: 3px solid rgb(0, 20, 56);
    }

    .foo {
        color: wheat;
        background: linear-gradient(to right, #0f130a, #181C14);

        /* justify-content: center; */
        padding: 5vh 4vw;
        
    }

    .foo h1 {
        color: white;
        font-size: xx-large;
    }

    .foo a {
        color: wheat;
        padding: 1vw 1vh;

    }

    .infologo {
        display: inline-block;
    }

    .infonumb {
        display: inline-block;
        margin-bottom: 3vh;
    }

    .infomail {
        display: inline-block;
    }

    .infomai {
        display: inline-block;
    }

    .he {
        width: 60%;
        /* text-align: center; */
        /* margin: auto; */
        margin-bottom: 3vh;
    }

    .info {
        padding: 1vw 1vh;
        width: 60%;
        /* text-align: center; */
        /* margin: auto; */
    }

    .info p {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .info a i:hover {
        transform: scale(1.2);
    }


    @keyframes first1 {
        from {
            opacity: 20%;
        }
    }

    @keyframes first {
        from {
            opacity: 0;
            transform: scale(0.5);
            /* transform: rotate(0deg); */
        }

        35% {
            /* transform: rotate(35deg); */
        }

        75% {
            transform: scale(1.1);
            /* transform: rotate(-35deg); */
        }

        to {
            /* transform: rotate(0deg); */
        }
    }

    @keyframes typing {
        from {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes typing1 {
        from {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}

/* @keyframes multicolor {
    from {
        background-color: black;

    }

    50% {
        background-color: black;

    }

    to {
        background-color: black;

    }

} */
